.header {
  background-color: #1a1a1a;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  width: 100%;
  padding: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  width: 200px;
}

.nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover:not(.cta) {
  color: #be261b;
  border-bottom: 1px solid white;
}

.cta {
  background: #951108;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
}

.cta:hover {
  background-color: white;
  color: #be261b;
}

.menuToggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    background: #1a1a1a;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1rem;
    width: 100%;
  }

  .nav.open {
    display: flex;
  }

  .menuToggle {
    display: block;
  }
}
